body {
  background-color: #282c34;
}
.App {
  text-align: center;
}
.btn---app {
  display: flex;
}
button {
  padding: 0.55em 1.5em;
  border: 0.1em solid #0c0b0b;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  font-family: "Times New Roman", Times, serif;
  color: #1a1717;
  transition: all 0.2s;
}
button:hover {
  color: #000000;
  background-color: #685e96;
}
.submit {
  border: orange 2px solid;
  background-color: #282c34;
  color: #fff;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.label_card {
  display: grid;
}

input {
  margin-top: 12px;
  font-family: "Times New Roman", Times, serif;
  border: rgb(4, 5, 3) 2px solid;
  border-radius: 0.42em;
}
.input_name{
  color: white;
}
select {
  margin: 20px 70px 70px 70px ;
  font-family: "Courier New", Courier, monospace;
}

p{
  font-family: "Times New Roman", Times, serif;
margin-top: 90px;
}
.card {
  background: url(http://www.psdgraphics.com/file/world-map-background.jpg)
    no-repeat center center;
  margin-top: 70px;
  width: 320px;
  height: 190px;
  border-radius: 10px;
  background-size: cover;
  color: #fff;
  font-size: 20px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  display: grid;
}
.card_orginal {
  display: grid;
  box-shadow: 1px 1px #aaa3a3;
  margin-top: 0px;
  width: 320px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 15px;
  border-radius: 8px;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.credit-card__number {
  display: block;
  width: 100%;
  word-spacing: 4px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}
.home__div {
  display: grid;
  margin-top: 20px;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 35px;
}
.credit-card__info_label {
  display: grid;
  margin-top: 40px;
  justify-items: right;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
}
.chip {
  display: grid;
  justify-self:center;
  width: 30px;
}
