body {
  background-color: #282c34;
}
.App {
  text-align: center;
}
.btn---app {
  display: flex;
}
button {
  padding: 0.55em 1.5em;
  border: 0.1em solid #0c0b0b;
  margin: 4em 0.3em 0.3em 0em;
  border-radius: 0.12em;
  font-family: "Times New Roman", Times, serif;
  color: #1a1717;
  transition: all 0.2s;
}
button:hover {
  color: #000000;
  background-color: #685e96;
}
.submit {
  border: orange 2px solid;
  background-color: #282c34;
  color: #fff;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.label_card {
  display: grid;
}

input {
  margin-top: 12px;
  font-family: "Times New Roman", Times, serif;
  border: rgb(4, 5, 3) 2px solid;
  border-radius: 0.42em;
}
.input_name {
  color: white;
}
select {
  margin: 20px 70px 70px 70px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 0.42em;
}
p {
  font-family: "Times New Roman", Times, serif;
  margin-top: 90px;
}
.card_orginal {
  background: url() no-repeat center center;
  background-image: url("https://image.ibb.co/bVnMrc/g3095.png"),
    linear-gradient(
      to right bottom,
      #4d55b9,
      #4f56be,
      #2b35c7,
      #393e85,
      #262d8f
    ); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/

  display: grid;
  box-shadow: 1px 1px #aaa3a3;
  margin-top: 40px;
  width: 320px;
  height: 190px;
  background-position: center;
  background-size: cover;
  font-size: 15px;
  border-radius: 14px;
}
.activ_card {
  color: #309529;
  font-family: "Courier New";
}
.credit-card__logo {
  position: relative;
  margin-top: 6px;
  font-family: "Courier New", Courier, monospace;
}
.credit-card__number {
  display: block;
  width: 100%;
  word-spacing: 4px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  position: absolute;
  margin: 90px 0px 0px 90px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}
footer {
  background: repeating-linear-gradient(
    45deg,
    #144111,
    #29793d 5px,
    #f9f9f9 5px,
    #f9f9f9 120px
  );
  opacity: 0.7;
  height: 15px;
  margin: 70px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}
.credit-card__info_label {
  display: grid;
  position: absolute;
  margin: 2px 0px 0px 220px;
  justify-items: right;
  font-size: 10px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 4px;
  background-color: #f9f9f9;
}
.credit-ccv {
  background-color: #f9f9f9;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  display: grid;
  margin: 2px 245px 0px 8px;
  justify-items: left;
  font-size: 10px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 3px;
}
.wifi {
  display: grid;
  justify-items: left;
  opacity: 0.7;
  font-size: 20px;
  color: darkgoldenrod;
  position: absolute;
  margin: 70px 0px 0px 25px;
}
.chip {
  display: grid;
  justify-items: left;
  width: 30px;
  opacity: 0.7;
  position: absolute;
  margin: 95px 0px 0px 20px;
}
.delete_btn {
  margin: 20px 150px 20px 150px;
  font-size: 25px;
}
.delete_btn:hover {
  font-size: 30px;
}
.delete_btn:active {
  color: red;
}

/* .logo_bank {
  margin: 250px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 150px;
  font-size: 90px;
} */
